.timeline .moveable-control.moveable-resizable {
  display: none;
}

.timeline .moveable-control.moveable-resizable.moveable-w {
  display: block;
  width: 4px;
  height: 60px;
  background-color: #eeeeee88;
  margin-top: -30px;
  margin-left: 0px;
  border-radius: 0;
  border: none;
}

.timeline .moveable-control.moveable-resizable.moveable-e {
  display: block;
  width: 4px;
  height: 60px;
  background-color: #eeeeee88;
  margin-top: -30px;
  margin-left: -4px;
  border-radius: 0;
  border: none;
}

.timeline .moveable-line {
  background: #eeeeee88 !important;
}

.timeline .timeline-layer-item {
  position: relative;
}

.timeline .timeline-clip {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 0;
  left: 100px;
  line-height: 60px;
  text-align: center;
  background-color: #2a4a50;
  font-weight: bold;
  box-sizing: border-box;
  z-index: 1;
}
